<<<<<<< HEAD
img{
    border-radius: 50%;
    width: auto;
    height: 600px;
    background-size: cover;

=======
img{
    border-radius: 50%;
    width: auto;
    height: 600px;
    background-size: cover;

>>>>>>> 9e2ffb8cbbbae7a7f1e12822d4b98e0576656ae1
}